/*  GENERAL
=========================================== */

:root {
    --text:#43454a;             /*  text default  */
    --light:#fafafa;            /*  text light default  */
    --dark:#222;                /*  text dark default  */
    --dk_brown:#221702;
    --alert:#7C2210;
}

/*  cursor  */

.nopoint,
.nopoint_all * {
    pointer-events: none;
}
.allpoint {
    pointer-events: all;
}

/*  fades  */
span.__fade {
    opacity: 0;
}


/*  WP ADMIN SPECIFIC STYLES
=========================================== */

.elementor-html .site-header {
    display:none;
}

.elementor-html .sliding-hero-wrap {
    max-height: unset;
    overflow: visible;
}
.elementor-html .sliding-hero-wrap img {
    position: relative;
}

.elementor-html .lang-en .esp,
.elementor-html .lang-es .eng {
    display:block !important;
}

.home-synopsis-block .synopsis,
.elementor-html span.__fade {
    opacity:1 !important;
}


/*  TYPOGRAPHY
=========================================== */

@font-face {
    font-family: 'WWLB';
    src: url('font/wwlb/wwlb1-regular-font.eot');
    src: url('font/wwlb/wwlb1-regular-font.eot?#iefix') format('embedded-opentype'),
         url('font/wwlb/wwlb1-regular-font.woff2') format('woff2'),
         url('font/wwlb/wwlb1-regular-font.woff') format('woff'),
         url('font/wwlb/wwlb1-regular-font.ttf') format('truetype'),
         url('font/wwlb/wwlb1-regular-font.svg#wwlb') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 1.35;
    letter-spacing: -0.25px;
}

html, body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
p a,
span,
ul li,
ul li a {
    font-family: 'Special Elite', serif !important;
}

.wwlb-title h1, h1.wwlb-title,
.wwlb-title h2, h2.wwlb-title,
.wwlb-title h3, h3.wwlb-title,
.wwlb-title h4, h4.wwlb-title,
.wwlb-title h5, h5.wwlb-title,
.wwlb-title h6, h6.wwlb-title {
    font-family: "WWLB", Arial, Helvetica, sans-serif !important;
    font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.35;
}
h1 {
    font-size: 51px;
}
.hero-title-wrap h1 {
    font-size: 61px;
    text-transform: uppercase;
    line-height: 0.95;
    letter-spacing: 8px;
    font-weight: 200;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 35px;
}
h4 {
    font-size: 29px;
}
h5 {
    font-size: 24.5px;
}
h6 {
    font-size: 20.5px;
}
p,
p span,
p a,
ul,
ul li,
ul li a {
    letter-spacing: 0.35px;
}

/* links */

p > a  {
    color:var(--alert);
    -webkit-transition:0.25s all ease-out;
    transition:0.25s all ease-out;
}
p > a:hover {
    color:var(--alert);
    opacity: 0.75;
}


/*  ANIMATIONS
=========================================== */

@keyframes fade-in-half {
    0% { opacity: 0 }
    100% { opacity: 0.5 }
}
@-webkit-keyframes fade-in-half {
    0% { opacity: 0 }
    100% { opacity: 0.5 }
}


/*  CONTAINERS
=========================================== */

.title-area,
.site-inner,
.custom-hero,
footer {
    -webkit-transition:0.35s all ease 0.25s;
    transition:0.35s all ease 0.25s;
}
.title-area {
    z-index: 1;
}

.container {
    width:100%;
    max-width: 1300px;
    margin:0 auto;
    position: relative;
}

/*  flex + grid  */

.flex.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


/*  LANGUAGE SELECT / CHANGE
=========================================== */

.lang-select {
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.92) 0%, rgba(19,22,38,0.9) 29%, rgba(34,23,2,0.88) 61%, rgba(0,0,0,0.86) 92%, rgba(0,0,0,0.85) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,0.92)), color-stop(29%, rgba(19,22,38,0.9)), color-stop(61%, rgba(34,23,2,0.88)), color-stop(92%, rgba(0,0,0,0.86)), color-stop(100%, rgba(0,0,0,0.85)));
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.92) 0%, rgba(19,22,38,0.9) 29%, rgba(34,23,2,0.88) 61%, rgba(0,0,0,0.86) 92%, rgba(0,0,0,0.85) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,0,0,0.92) 0%, rgba(19,22,38,0.9) 29%, rgba(34,23,2,0.88) 61%, rgba(0,0,0,0.86) 92%, rgba(0,0,0,0.85) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,0,0,0.92) 0%, rgba(19,22,38,0.9) 29%, rgba(34,23,2,0.88) 61%, rgba(0,0,0,0.86) 92%, rgba(0,0,0,0.85) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,0.92) 0%, rgba(19,22,38,0.9) 29%, rgba(34,23,2,0.88) 61%, rgba(0,0,0,0.86) 92%, rgba(0,0,0,0.85) 100%);
    height: 55px;
    bottom:15px;
    right:15px;
    border:1px solid #fafafa;
    border-radius: 55px;
    cursor: pointer;
    opacity: 0;
    -webkit-animation:fade-in-half 1s ease-in-out 3s forwards;
    animation:fade-in-half 1s ease-in-out 3s forwards;
    padding: 15px;
}
.ismobile .lang-select.active, 
.lang-select:hover {
    opacity: 1 !important;
}
.lang-select svg path {
    fill:#fff;
}
.lang-select-msg {
    width: 0;
    opacity: 0;
    -webkit-transition:0s all ease;
    transition:0s all ease;
}
.ismobile .lang-select.active .lang-select-msg,
.lang-select:hover .lang-select-msg {
    width: auto;
    opacity: 1;
    -webkit-transition:0.45s all ease-in-out;
    transition:0.45s all ease-in-out;
}

.lang-en .esp,
.lang-es .eng {
    display:none;
}


/*  FORMS
=========================================== */

/*  common form  */

article form {
    width: 100%;
    margin:0 auto;
    position: relative;
}
.wwlb-mc-form {
    gap:15px 5px;
}
.wwlb-mc-form * {
    font-size: 17px !important;
}
.wwlb-mc-form input,
.wwlb-mc-form textarea,
.wwlb-mc-form select {
    border-radius: 2px;
}
.wwlb-mc-form input:not([type="submit"]),
.wwlb-mc-form textarea,
.wwlb-mc-form select {
    background:none;
    color:var(--text);
}
.wwlb-mc-form ::placeholder {
    color:var(--text);
}
.wwlb-mc-form ::-webkit-input-placeholder {
    color:var(--text);
}
.wwlb-mc-form :-moz-placeholder {
    color:var(--text);
}
.wwlb-mc-form ::-moz-placeholder {
    color:var(--text);
}
.wwlb-mc-form :-ms-input-placeholder {
    color:var(--text);
}
.wwlb-mc-form .fieldwrap p,
.wwlb-mc-form .fieldwrap span {
    /* font-size: 18px; */
    font-weight: 400;
    text-transform: lowercase;
    color:var(--text);
}
.wwlb-mc-form .fieldwrap p {
    margin-bottom: 10px;
}
.wwlb-mc-form input[type="submit"] {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    color:var(--light);
    border:1px solid transparent;
    -webkit-transition:0.25s all ease-out;
    transition:0.25s all ease-out;
}

.wwlb-mc-form .wpcf7-not-valid-tip {
    text-transform: lowercase;
    -webkit-transform:translateY(5px);
    transform:translateY(5px);
}
.wpcf7-response-output {
    font-weight: 900;
    text-transform: lowercase;
    color:var(--alert);
    border-color:var(--alert) !important;
}

/*  general signup  */

.wwlb-mc-form input[type="submit"] {
    background:var(--dark);
    border-color: var(--dark);
}
.wwlb-mc-form input[type="submit"]:hover,
.wwlb-mc-form input[type="submit"]:active {
    background:var(--light);
    border-color: var(--dark);
    color:var(--dark);
}

/*  form standard   */

.wwlb-mc-form.form-standard input:not([type="submit"]),
.wwlb-mc-form.form-standard textarea {
    margin-bottom: 15px;
}


/*  footer signup form  */

footer .wwlb-mc-form {
    grid-template-areas:
        "fname lname"
        "email email"
        "submit submit";
    gap:15px;
}
footer .wwlb-mc-form form {
    width: 100%;
    max-width:700px;
    margin:0 auto;
    position: relative;
}
footer .wwlb-mc-form .name-field-wrap {
    grid-gap:15px;
    padding-bottom:15px;
}
footer .wwlb-mc-form .fname {
    grid-area: fname;
}
footer .wwlb-mc-form .lname {
    grid-area: lname;
}
footer .wwlb-mc-form .email {
    grid-area: email;
}
footer .wwlb-mc-form .subscribe {
    grid-area: submit;
}

footer .wwlb-mc-form input:not([type="submit"]) {
    background:none;
    border:2px solid var(--light);
    color:var(--light);
}
footer .wwlb-mc-form ::placeholder {
    color:var(--light);
}
footer .wwlb-mc-form ::-webkit-input-placeholder {
    color:var(--light);
}
footer .wwlb-mc-form :-moz-placeholder {
    color:var(--light);
}
footer .wwlb-mc-form ::-moz-placeholder {
    color:var(--light);
}
footer .wwlb-mc-form :-ms-input-placeholder {
    color:var(--light);
}

footer .wwlb-mc-form input[type="submit"] {
    background:var(--light);
    letter-spacing: 6px;
    color:var(--dark);
    border:2px solid transparent;
    padding:12px 75px;
    float:left;
}
footer .wwlb-mc-form input[type="submit"]:hover,
footer .wwlb-mc-form input[type="submit"]:active {
    background:var(--dark);
    color:var(--light);
    border-color: transparent;
}


.wpcf7-spinner {
    -webkit-transform:translate(-90px, 38px);
    transform:translate(-90px, 41px);
    position: absolute;
}


/*  TEMPLATE :: CUSTOM PAGE
=========================================== */

.wwlb-page .site-inner {
    max-width: 100%;
    padding:0;
}
.wwlb-page header.site-header {
    background-color: transparent;
    width:100%;
    top:0;
    left:0;
    box-shadow: none;
    position: absolute;
}



/*  BUTTONS
=========================================== */

.wwlb_btn a {
    font-size: 17px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1;
    display: inline-block;
    border-radius: 2px;
    padding:18px 50px;
    position: relative;
}
.wwlb_btn a * {
    pointer-events: none;
}
.wwlb_btn.light a {
    border:1px solid var(--light) !important;
}
.wwlb_btn.solid.light a,
.wwlb_btn.outline.light a:hover {
    background-color:var(--light);
    color:var(--dark);
}
.wwlb_btn.outline.light a,
.wwlb_btn.solid.light a:hover {
    background-color:transparent;
    color:var(--light);
}

/* size */

.btn-main.sm {
    padding:10px 25px;
}
.btn-main.md {
    padding:15px 45px;
}
.btn-main.lg {
    padding:20px 95px;
}


/*  GALLERIES
=========================================== */

.wwlb-laurels .gallery {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}
.wwlb-laurels figure.gallery-item {
    width:auto;
    max-width: unset;
    padding-inline: 25px;
}
.wwlb-laurels figure.gallery-item img {
    width:auto;
    height:100px;
}
.wwlb-laurels figure.gallery-item img:hover {
    border:none;
}


/*  SCREENINGS
=========================================== */

a.b-screening-item-wrap:after {
    width:100%;
    height:1px;
    bottom:-5px;
    content:"";
    display: block;
    -webkit-transform:scaleX(0);
    transform:scaleX(0);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition:0.5s all cubic-bezier(0.99,0.25,0,0.99);
    transition:0.5s all cubic-bezier(0.99,0.25,0,0.99);
    position: absolute;
}
.b-screenings.scheme-dark a.b-screening-item-wrap:after {
    border-bottom:1px solid var(--dk_brown);
}
.b-screenings.scheme-light a.b-screening-item-wrap:after {
    border-bottom:1px solid var(--light);
}
a.b-screening-item-wrap a,
a.b-screening-item-wrap p {
    -webkit-transition:0.5s all ease-in-out;
    transition:0.5s all ease-in-out;
}
.b-screenings.scheme-dark a.b-screening-item-wrap:hover a,
.b-screenings.scheme-dark a.b-screening-item-wrap:hover p {
    color:var(--dk_brown);
}
.b-screenings.scheme-light a.b-screening-item-wrap:hover a,
.b-screenings.scheme-light a.b-screening-item-wrap:hover p {
    color:var(--light);
}
a.b-screening-item-wrap:hover::after {
    -webkit-transform:scaleX(1);
    transform:scaleX(1);
}
.b-screening-item-wrap:not(:first-child) {
    padding-top:25px;
}
.b-screenings.scheme-dark h3,
.b-screenings.scheme-dark a,
.b-screenings.scheme-dark p {
    color:var(--text);
}
.b-screenings.scheme-light h3,
.b-screenings.scheme-light a,
.b-screenings.scheme-light p {
    color:var(--light);
}
.b-screening-item-wrap .b-screening-date {
    grid-area: date;
}
.b-screening-item-wrap .b-screening-title {
    font-weight: 500;
    text-transform: uppercase;
    grid-area: title;
}
.b-screening-item-wrap .b-screening-location {
    text-align: right;
    grid-area: location;
}


/*  HEADER / NAVIGATION
=========================================== */

.nav-light .site-title,
.nav-light .site-title a {
    color:var(--light);
}
header.site-header {
    z-index: 10;
}
.has-hero header.site-header {
    background-color: transparent;
    width:100%;
    box-shadow: none;
    position: absolute;
}
.no-logo .title-area {
    visibility: hidden;
    opacity: 0;
}
.title-area span.logo img {
    width:100%;
    max-width: 150px;
}

li.trailer span {
    pointer-events: none;
}

/*  header navigation  */

ul#menu-main li {
    padding:12px 15px;
}
ul#menu-main li a {
    padding:0;
    position: relative;
}
body.nav-dark ul#menu-main li a,
body.nav-dark ul#menu-main li a:hover {
    color:var(--text);
}
body.nav-light ul#menu-main li a,
body.nav-light ul#menu-main li a:hover {
    color:var(--light);
}
ul.menu > li a:before {
    width:100%;
    height:1px;
    bottom:-3px;
    content:"";
    display: block;
    border-radius: 1px;
    -webkit-transform:scaleX(0);
    transform:scaleX(0);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition:0.75s all cubic-bezier(0.99,0.22,0,0.99);
    transition:0.75s all cubic-bezier(0.99,0.22,0,0.99);
    position: absolute;
}
ul.menu > li a:hover::before {
    -webkit-transform:scaleX(1);
    transform:scaleX(1);
}
body.nav-dark ul#menu-main > li a:before {
    background:var(--text);
}
body.nav-light ul#menu-main > li a:before,
.mobile-menu-master-wrap ul.menu > li a:before {
    background:var(--light);
}

/*  mobile nav burger  */

.nav-trigger-wrap {
    right:0;
    height:34px;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    cursor: pointer;
    z-index:10000;
    padding:5px;
}
body.nomobile .nav-trigger-wrap:hover span.nav-dash,
.nav-trigger-wrap.active span.nav-dash {
    width:30px;
}
span.nav-dash {
    height:2px;
    border-radius: 1px;
    -webkit-transition:0.25s all cubic-bezier(0.85, 0, 0.15, 1);
    transition:0.25s all cubic-bezier(0.85, 0, 0.15, 1);
}
body.nav-dark span.nav-dash {
    background:var(--text);
}
body.nav-light span.nav-dash {
    background:var(--light);
}
span.nav-dash-1 {
    width:16px;
}
span.nav-dash-2 {
    width:30px;
}
span.nav-dash-3 {
    width:21px;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

/*  mobile nav  */

.mobile-menu-master-wrap {
    background:var(--dk_brown);
    z-index: 9999;
    -webkit-transition:0.5s opacity ease-in-out;
    transition:0.5s opacity ease-in-out;
}
.mobile-menu-master-wrap:before,
.mobile-menu-master-wrap:after {
    background: rgba(19,22,38,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(19,22,38,1) 0%, rgba(19,22,38,0) 60%, rgba(19,22,38,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(19,22,38,1)), color-stop(60%, rgba(19,22,38,0)), color-stop(100%, rgba(19,22,38,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(19,22,38,1) 0%, rgba(19,22,38,0) 60%, rgba(19,22,38,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(19,22,38,1) 0%, rgba(19,22,38,0) 60%, rgba(19,22,38,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(19,22,38,1) 0%, rgba(19,22,38,0) 60%, rgba(19,22,38,0) 100%);
    background: radial-gradient(ellipse at center, rgba(19,22,38,1) 0%, rgba(19,22,38,0) 60%, rgba(19,22,38,0) 100%);
    content:"";
    display: block;
    position: absolute;
}
.mobile-menu-master-wrap:before {
    width:160%;
    height:160%;
}
.mobile-menu-master-wrap:after {
    width:200%;
    height:200%;
    top:-100%;
    left:-75%;
    opacity: 0.65;
    z-index: -1;
}
.mobile-menu-master-wrap:not(.active) {
    opacity: 0 !important;
    pointer-events: none !important;
    z-index: -100;
}
body.mobile-nav .title-area,
body.mobile-nav .site-inner,
body.mobile-nav .custom-hero,
body.mobile-nav footer {
    opacity: 0.75;
    /* -webkit-transform:translate3d(-6vw,0,0) scale(0.9);
    transform:translate3d(-6vw,0,0) scale(0.9); */
    /* transition-delay: 0s !important; */
}
/* body.mobile-nav .mobile-menu-master-wrap:before {
    -webkit-transform:scale(1);
    transform:scale(1);
} */
#ela-mobile-navigation {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
}
#ela-mobile-navigation li {
    opacity: 0;
}
#ela-mobile-navigation li a {
    color:var(--light);
    font-size: 21px;
    font-weight: 200;
    letter-spacing: 6px;
}

/*  footer navigation  */

footer ul.menu li.trailer {
    display:none !important;
}


/*  HERO AREAS
=========================================== */

/*  home  */

.home-hero {
    padding:22.5vh 0;
}
.home-hero .title-treatment img {
    width:min( 65%, 540px );
}


/*  TRAILER
=========================================== */

/*  close X  */

.closeX-wrap {
    background:#111;
    width:50px;
    height:50px;
    top:25px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
}
.closeX-wrap.vimeo {
    left:25px;
}
.closeX-wrap.youtube {
    right:25px;
}
.closeX-wrap span {
    background:#fff;
    width:3px;
    height:35px;
    display: block;
    pointer-events: none;
    position: absolute;
}
.closeX-wrap span:first-child {
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.closeX-wrap span:last-child {
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}


/*  TEMPLATE PART :: FUNDERS LOGOS
=========================================== */

.funders-title h2 {
    border-top:1px solid rgba(255,255,255,0.5);
    border-bottom:1px solid rgba(255,255,255,0.5);
}
.funders-inner .funder-logo-wrap {
    padding-block: 25px;
}
.funders-inner img {
    width:auto;
}


/*  TEMPLATE PART :: SLIDING IMAGE HERO
=========================================== */

.sliding-hero-wrap {
    background:var(--dk_brown);
    height:auto;
    max-height: 125vh;
    overflow: hidden;
}
.sliding-hero-wrap img {
    top:0;
    left:0;
    width:100%;
    max-width: 100%;
    position: absolute;
}
.sliding-text-wrap {
    border-radius: 7px;
    overflow: hidden;
}
.sliding-text-wrap .elementor-widget-container p:last-child {
    margin-bottom:0;
}


/*  TEMPLATE PART :: FILMMAKERS
=========================================== */

.filmmaker img {
    width:85%;
    max-width: 285px !important;
    border:3px solid rgba(255,255,255,0.15) !important;
    border-radius: 50% !important;
    z-index: 1;
    position: relative;
}
.filmmaker .elementor-widget-image .elementor-widget-container {
    display: inline-block;
    position: relative;
}
.filmmaker .elementor-widget-image .elementor-widget-container:before,
.filmmaker .elementor-widget-image .elementor-widget-container:after {
    content:"";
    display: block;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
}
.filmmaker .elementor-widget-image .elementor-widget-container:before {
    background:rgb(19,22,38);
    width:225px;
    height:225px;
    top:25px;
    left:-15px;
}
.filmmaker .elementor-widget-image .elementor-widget-container:after {
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(24)'%3E%3Crect width='100%25' height='100%25' fill='rgba(34, 23, 2,1)'/%3E%3Cpath d='M0 20h3v3h-3zM40 20h3v3h-3zM40 20h3v3h-3z' fill='rgba(134, 23, 2,1)'/%3E%3Cpath d='M20 20h3v3h-3zM60 20h3v3h-3z' fill='rgba(236, 201, 75,0.5)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    width:150px;
    height:150px;
    bottom:-20px;
    right:0px;
}


/*  TEMPLATE PART : PRESS
=========================================== */

.b-press-wrap {
    gap:25px 15px;
}
article.press-item {
    min-height: 225px;
    border-radius: 2px;
}
article.press-item,
article.press-item a {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
article.press-item .press-item-bg {
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
article.press-item .press-item-bg:before,
article.press-item .press-item-bg:after {
    width:100%;
    height:100%;
    top:0;
    left:0;
    content:"";
    display: block;
    position: absolute;
}
article.press-item .press-item-bg:before {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(20%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8) 100%);
}
article.press-item .press-item-bg:after {
    background:#131626;
    opacity:0;
    -webkit-transition:0.25s all ease-out;
    transition:0.25s all ease-out;
}

article.press-item a:hover .press-item-bg {
    -webkit-transform:scale(1);
    transform:scale(1);
}
article.press-item a:hover .press-item-bg:after {
    opacity:0.25;
}
article.press-item a:hover .press-item-inner {
    -webkit-transform:translate3d(-3px,0,0);
    transform:translate3d(-3px,0,0);
}

article.press-item p.date {
    font-size:12px;
    letter-spacing: 5px;
    padding-bottom: 5px;
}
article.press-item figcaption {
    padding-top:5px;
}


/*  TEMPLATE PART : QUOTES
=========================================== */

.b-press-wrap {
    gap:65px 50px;
}
.quote-item-inner h6 {
    display: inline-block;
}
.quote-item-inner h6:before {
    font-family: cursive;
    font-size: 180px;
    color:var(--dk_brown);
    content:'"';
    display: block;
    opacity: 0.1;
    -webkit-transform:translate(-10px,-70px);
    transform:translate(-10px,-70px);
    position: absolute;
}
.quote-item-inner a {
    text-align: right;
    color:var(--alert);
    display: inherit;
}
.quote-item-inner a:hover {
    color:var(--dk_brown);
}
.quote-item-inner p.quote-author {
    text-align: right;
    letter-spacing: 1.25px;
    display: inline-block;
}
.quote-item-inner a:hover p.quote-author {
    -webkit-transform:translate3d(-3px,0,0);
    transform:translate3d(-3px,0,0);
}


/*  TEMPLATE PART :: SOCIAL ICONS - ELEMENTOR
=========================================== */

.e-social-icons svg path {
    fill:#fafafa;
}


/*  HOME
=========================================== */

.home-synopsis-block {
    overflow: hidden;
}
.home-synopsis-block:before,
.home-synopsis-block:after {
    width:1px;
    height:100vh;
    top:0;
    content:"";
    display: block;
    z-index: 10;
    -webkit-transform:scaleY(0);
    transform:scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition:1s all cubic-bezier(0.99,0,0,0.99);
    transition:1s all cubic-bezier(0.99,0,0,0.99);
    position: absolute;
}
.home-synopsis-block.accent:before,
.home-synopsis-block.accent:after {
    -webkit-transform:scaleY(1);
    transform:scaleY(1);
}
.home-synopsis-block:before {
    background:rgba(255,255,255,0.175);
    left:10vw;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
.home-synopsis-block:after {
    background:rgba(255,255,255,0.125);
    left:calc(10vw - 10px);
}
.home-synopsis-block.opposite:before {
    left:unset;
    right:10vw;
}
.home-synopsis-block.opposite:after {
    left:unset;
    right:calc(10vw - 10px);
}
.home-synopsis-block > .elementor-container:before {
    background: rgba(0,0,0,0.92);
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.92) 0%, rgba(19,22,38,0.9) 29%, rgba(34,23,2,0.88) 61%, rgba(0,0,0,0.86) 92%, rgba(0,0,0,0.85) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,0.92)), color-stop(29%, rgba(19,22,38,0.9)), color-stop(61%, rgba(34,23,2,0.88)), color-stop(92%, rgba(0,0,0,0.86)), color-stop(100%, rgba(0,0,0,0.85)));
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.92) 0%, rgba(19,22,38,0.9) 29%, rgba(34,23,2,0.88) 61%, rgba(0,0,0,0.86) 92%, rgba(0,0,0,0.85) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,0,0,0.92) 0%, rgba(19,22,38,0.9) 29%, rgba(34,23,2,0.88) 61%, rgba(0,0,0,0.86) 92%, rgba(0,0,0,0.85) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,0,0,0.92) 0%, rgba(19,22,38,0.9) 29%, rgba(34,23,2,0.88) 61%, rgba(0,0,0,0.86) 92%, rgba(0,0,0,0.85) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,0.92) 0%, rgba(19,22,38,0.9) 29%, rgba(34,23,2,0.88) 61%, rgba(0,0,0,0.86) 92%, rgba(0,0,0,0.85) 100%);
    width:100%;
    height:100%;
    top:0;
    left:0;
    content:"";
    display: block;
    pointer-events: none;
    opacity: 0.95;
    z-index: 1;
    -webkit-transition:opacity 0.75s ease-in-out;
    transition:opacity 0.75s ease-in-out;
    position: absolute;
}
.home-synopsis-block.active > .elementor-container:before {
    opacity: 0;
}
.home-synopsis-block.opposite .elementor-widget-wrap {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.home-synopsis-block .elementor-column {
    z-index: 2;
}
.home-synopsis-block .synopsis {
    width:100%;
    max-width:800px;
    opacity: 0;
    -webkit-transition:1s all ease-in-out;
    transition:1s all ease-in-out;
}
.home-synopsis-block .synopsis._active {
    opacity: 1;
}
.home-synopsis-block .synopsis,
.home-synopsis-block .synopsis p {
    margin-bottom: 0 !important;
}


/*  FOOTER
=========================================== */

footer.site-footer {
    background-color: transparent;
    border:none;
    position: relative;
}
footer:before,
footer:after {
    top:-300px; 
    left:0;
    width:100%;
    content:"" !important;
    display: block !important;
    position: absolute;
}
footer:before {
    background:url(../images/footer-sky-bg.jpg) center center no-repeat;
    background-size: cover;
    height:calc(100% + 300px);
    z-index: -2;
}
footer:after {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(3%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
    height:350px;
    z-index: -1;
}

footer .footer-inner {
    gap:75px;
}

footer nav.footer-nav ul li {
    text-align: left;
}
footer nav.footer-nav ul li:not(:last-child) {
    padding-bottom: 10px;
}
footer nav.footer-nav ul li a {
    font-size: 17px;
    color:var(--light);
}

footer .social-container a {
    margin-inline:10px;
    padding-inline:15px;
}
footer .social-container a svg {
    font-size: 24px;
    color:var(--light);
}
p.colophon,
p.colophon a {
    font-size: 14px;
    color:rgba(255,255,255,0.5);
}
p.colophon a:hover {
    color:rgba(255,255,255,1);
}

